.carousel-inner img {
    width: 100%;
    height: 707px;
  }
  .carousel-caption {
    top: 37%;
    transform: translateY(-50%);
  }
  .carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
  .carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }
  .display-4{
    font-size: 400%;
  }