.container1 {
   max-width: 1200px; 
   margin: 0 auto;
   .input-group {
    width: 50px;
  }
   .p-img {
       height: 100px;
       width: 100px;
   }
   .headl {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 2.5em;
    text-transform: uppercase;
    }
    .btn:hover {
        color: white;
    }
} 
.container2 {
    max-width: 1200px; 
    margin: 0 auto;

    .btn:hover {
        color: white;
    }
    .input-group-prepend {
        margin-top: 10px;
    }

}