.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  .col-lg-6 {
    margin-top: 30px;
    .img-fluid {
      height: 400px;
      width: 400px;
    }
    .input-group {
      width: 50px;
      margin-left: 10px;
    }
    .btn:hover {
      color: white;
    }
  }
}
.container2 {
  .p-grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    /* Width of columns */
    grid-template-columns: 33.3% 33.3% 33.3%;
    .p-flex-in {
      box-sizing: border-box;
      width: 230px;
      height: auto;
      border: 1px solid #f0f0f0;
      margin-bottom: 20px;
    }
    .p-img {
      width: 100%;
      height: 220px;
      text-align: center;
      margin-bottom: 7px;
    }
    .p-name {
      font-size: 0.9em;
      text-align: center;
      margin-bottom: 2px;
      width: 95%;
    }
    .p-price {
      color: black;
      text-align: center;
      font-size: 0.9em;
      margin-bottom: 2px;
    }
  }
}