.container1 {
  .headl {
    text-align: center;
    color: black;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .form-control {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    border-color: #d5d5d5;
  }
}
.container2 {
  .p-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* Width of columns */
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 1em;
    .p-flex {
      width: 25%;
    }
    .p-flex-in {
      box-sizing: border-box;
      height: 365px;
      margin: 10px; 
      border: 1px solid #f0f0f0;
    }
    .p-img {
      width: 100%;
      height: 275px;
      text-align: center;
      margin-bottom: 20px;
    }
    .p-name {
      font-size: 1em;
      text-align: center;
      margin-bottom: 5px;
    }
    .p-price {
      color: black;
      text-align: center;
      font-size: 1em;
    }
  }
  #pagination {
    margin: 0 auto;
    text-align: center;
  }
}



