/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng2-slim-loading-bar/style.css";

body, html {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
}



